[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notebook = "*"
langchain = "*"
openai = "*"
tiktoken = "*"
pytest = "*"
matplotlib = "*"
seaborn = "*"
langchain-openai = "*"
gensim = "*"
word-forms = "*"
mypy = {extras = ["pydantic"], version = "*"}

[dev-packages]
snakeviz = "*"

[requires]
python_version = "3.10"
